name: Python Test

on:
  push:
    branches: [ main ]
    paths:
      - '.github/**'
      - 'src/chaintools/**'
      - 'src/chaintools/utils-test.py'
      - 'testdata/**'
  pull_request:
    branches:
      - 'main'
    paths:      
      - '.github/**'
      - 'src/chaintools/**'
      - 'src/chaintools/utils-test.py'
      - 'testdata/**'

jobs:
  create-env:
    name: ${{ matrix.os }} 
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
        
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Update PYTHONPATH
        run: |
            echo "PYTHONPATH=$(pwd)/src" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
            pip install intervaltree
            pip install pysam
            pip install pandas

      - name: Run test_utils
        run: |
            python src/chaintools/test_utils.py
