name: Python Test

on:
  push:
    branches: [ main ]

  pull_request:
    branches:
      - 'main'
    paths:      
      - '.github/workflows/pytest.yml'
      - 'pyproject.toml'
      - 'chaintools_bio/**'
      - 'testdata/**'

jobs:
  create-env:
    name: OS ${{ matrix.os }}, Py ${{ matrix.python-version }} 
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -l {0}
        
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [ '3.8', '3.9', '3.10', '3.11' ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run test_utils
        run: |
            python -m unittest chaintools_bio/test_*.py
